.navbar{
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.nav-link{
  font-weight: 300 !important;
}

.active{
  border-bottom: 1px solid black;
}

.navbar-brand{
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

/*+++++++++++++ Footer ++++++++++++++*/

.footer{
color: white;
padding: 25px;
background: black;
background: linear-gradient(to right, rgb(68, 67, 67),black);
}
.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
.footer a:hover{
  color: #ffeabf;
  border-bottom: 1px solid #ffeabf;
}